* {
	margin: 0;
	padding: 0;
}

.fa-discord:hover {
	color: #7289DA;
}

.features {
	align-content: center;
	align-items: center;
	background-color: #f3f5f9;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 5vh 7.5%;
	text-align: center;
}

.features .card {
	background-color: #ffffff;
	margin-bottom: 2.5vh;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 2.5vh 2.5%;
	width: 75%;
}

.features h3 {
	font-family: Lato, sans-serif;
	margin-bottom: 1.25vh;
	margin-top: 2.5vh;
}

.features i {
	font-size: 2.75rem;
}

.features p,.services h3 {
	font-family: Lato, sans-serif;
}

.footer {
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
}

.footer .links {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding-bottom: 1.25vh;
	padding-top: 1.25vh;
}

.footer .social {
	text-align: center;
}

.footer a {
	color: #000000;
	font-family: Lato, sans-serif;
	padding: 0.75vh 5vw;
	text-decoration: none;
}

.footer h2 {
	font-family: Roboto, sans-serif;
	margin-bottom: 1vh;
}

.footer i {
	font-size: 1.4rem;
	padding: 2.5vh 3vw;
	transition: .3s ease-in-out;
}

.footer i:hover {
	transform: scale(1.2);
}

.footer p {
	font-family: Lato, sans-serif;
	text-align: center;
}

.footer ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	list-style: none;
	margin-bottom: 1.25vh;
	margin-top: 1.25vh;
}

.header {
	background-color: #f2f7f2;
	font-family: Lato, sans-serif;
	padding-bottom: 0.5vh;
	padding-top: 0.75vh;
}

.header .active:after {
	background: #f26419;
	content: '';
	display: block;
	height: 0.225vh;
	margin: 0.75vh auto auto;
	transition: width 0.5s ease, background-color 0.5s ease;
	width: 75%;
}

.header a {
	color: #000000;
	padding: 0.75vh 5vw;
	text-decoration: none;
}

.header li {
	margin-bottom: 1.25vh;
	margin-top: 1.25vh;
}

.header li:after,.footer ul a:after {
	background: transparent;
	content: '';
	display: block;
	height: 0.225vh;
	margin: 0.75vh auto auto;
	transition: width 0.5s ease, background-color 0.5s ease;
	width: 0;
}

.header li:hover:after,.footer ul a:hover:after {
	background: #f26419;
	width: 75%;
}

.header ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	list-style: none;
	margin-left: 2vw;
	margin-right: 2vw;
}

.hero {
	background-image: url(../img/herobg.jpg);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 7.5vh;
	padding-top: 7.5vh;
	text-align: center;
}

.hero h1 {
	color: #f26419;
	font-family: Roboto, sans-serif;
	font-size: 2.5rem;
}

.hero i {
	color: #ffffff;
	font-size: 1.5rem;
}

.hero p {
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-weight: bold;
	margin-bottom: 5vh;
	margin-top: 5vh;
}

.quote {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/quotebg.jpg);
	background-position: 50% 62.5%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5vh;
	padding-top: 5vh;
	text-align: center;
}

.quote button {
	background: transparent;
	border: solid 1px #f26419;
	color: #ffffff;
	font-family: Lato, sans-serif;
	font-size: 1.2rem;
	padding: 2.5vh 5%;
	transition: 0.25s ease-in-out;
}

.quote button:hover {
	background: #f26419;
	cursor: pointer;
}

.services {
	background-color: #f3f5f9;
	padding-bottom: 5vh;
	padding-top: 2.5vh;
	text-align: center;
}

.services .card {
	background-color: #ffffff;
	margin-bottom: 2.5vh;
	margin-left: 2%;
	margin-right: 2%;
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
	width: 80%;
}

.services .container {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.services h2 {
	font-family: Roboto, sans-serif;
	margin-bottom: 2.5vh;
}

.services i {
	font-size: 3rem;
	margin-bottom: 2.5vh;
}

@media only screen and min-width 1000px {
	.features .card {
		margin-bottom: 0;
		width: 22.5%;
	}

	.features,.services .container,.footer .links {
		flex-direction: row;
	}

	.footer ul a:hover:after {
		width: 50%;
	}

	.header {
		box-shadow: 0 5px 18px 5px rgba(0,0,0,0.5);
		position: fixed;
		right: 0;
		width: 100%;
	}

	.header a {
		padding-left: 1.25vw;
		padding-right: 1.25vw;
	}

	.header ul {
		flex-direction: row;
		justify-content: flex-end;
	}

	.hero {
		padding-top: 10vh;
	}

	.services .card {
		margin-bottom: 0;
		width: 20%;
	}
}
