/* Main */

.pace {
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-pointer-events: none;
	-webkit-user-select: none;
	pointer-events: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #2299DD;
	height: 0.15rem;
	position: fixed;
	right: 100%;
	top: 5rem;
	width: 100%;
	z-index: 9999999999;
}

* {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

html {
	overflow-x: hidden;
}

.hidden {
	display: none;
}

/* Header */

.header {
	width: 100vw;
	height: 5rem;
	background-color: rgba(25,25,25,1);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header h3 {
	display: none;
}

.header img {
	height: 3.5rem;
	padding-top: .75rem;
	padding-left: 5rem;
}

.header h1 {
	font-family: 'Montserrat', sans-serif;
	padding-left: 9rem;
	margin-top: -3.15rem;
	color: #FFFFFF;
	font-size: 2rem;
	font-weight: 700;
}

.header ul {
	padding-top: 2rem;
	margin-top: -4.25rem;
	text-align: right;
	padding-right: 14.5rem;
	cursor: default;
}

.header li {
	font-weight: 400;
	color: #CCCCCC;
	font-size: 1.5rem;
	display: inline;
	font-variant: small-caps;
	padding-left: .25rem;
	padding-right: .25rem;
	transition: all ease-in-out .2s;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.header li a {
	text-decoration: none;
	color: #CCCCCC;
	transition: all ease-in-out .2s;
}

.header li:hover {
	color: #EEEEEE;
	cursor: pointer;
}

.header li:hover a {
	color: #EEEEEE;
}

.header li a:hover {
	color: #EEEEEE;
	cursor: pointer;
}

.header li .fa-chevron-down {
	font-size: .85rem;
}

.header h2 {
	font-weight: 400;
	text-align: center;
	margin-right: 5rem;
	margin-left: calc(100vw - 13rem);
	margin-top: -2rem;
	color: #FFFFFF;
	font-size: 1.25rem;
	font-variant: small-caps;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,141,0,1) 0%, rgba(255,214,0,1) 100%);
	width: 7rem;
	padding-left: .25rem;
	padding-right: .25rem;
	height: 2rem;
	padding-top: .5rem;
	border-radius: 4px;
	transition: all ease-in-out .2s;
}

.header h2:hover {
	opacity: .5;
}

.header h2 a {
	color: #FFFFFF;
	text-decoration: none;
}

.header .dropdown-trigger:hover ~ .dropdown {
	display: block;
}

.header .dropdown {
	height: 11.95rem;
	width: 10rem;
	margin-left: calc(100vw - 23rem);
	margin-top: 1.25rem;
	background-color: white;
	position: absolute;
	display: none;
}

.header .dropdown:hover {
	display: block;
}

.header .dropdown ul {
	text-align: center;
	width: 96%;
	margin-left: 2%;
	margin: 0;
	padding: 0;
	padding-top: 2%;
	position: relative;
}

.header .dropdown li {
	display: block;
	font-variant: normaL;
	font-size: 1.25rem;
	padding: 0;
	margin: 0;
	margin-left: 2%;
	width: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-radius: 4px;
	transition: all ease-in-out .2s;
}

.header .dropdown li a {
	text-decoration: none;
	color: #000000;
}

.header .dropdown li:hover {
	background-color: rgba(0, 0, 0, .2);
}

.mobile-dropdown {
	display: none;
}

/* Home */

.home-container {
	padding-top: 5rem;
}

.home-container .home-hero {
	background-color: #ff9900;
	min-height: 55rem;
	position: relative;
	z-index: 2;
	position: relative;
}

.home-container svg {
	margin-top: -20rem;
	position: relative;
	z-index: 3;
}

.home-container .home-hero h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 5rem;
	color: #FFFFFF;
	font-weight: 700;
}

.home-container .home-hero .typeit-container {
	padding-left: 5rem;
	padding-top: 6rem;
	z-index: 9999;
	position: relative;
}

.home-container .home-hero img {
	height: 35rem;
	margin-left: calc(100vw - 40%);
	margin-top: -25rem;
}

.home-container .home-hero p {
	color: #000000;
	font-size: 1.5rem;
	border: .2rem solid black;
	width: 11rem;
	padding-top: .25rem;
	padding-bottom: .2rem;
	text-align: center;
	margin-top: 1rem;
	transition: all ease-in-out .2s;
}

.home-container .home-hero p .fa-chevron-right {
	font-size: 1.15rem;
}

.home-container .home-hero p:hover {
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
}

.home-container .home-hero p a {
	color: #000000;
	text-decoration: none;
}

.home-container #particles-js {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 55rem;
}

.home-container .home-about {
	width: 100vw;
	min-height: 35rem;
	background-color: rgba(35, 35, 35, 1);
	margin-top: -1rem;
	padding-bottom: 8rem;
	position: relative;
	z-index: 3;
}

.home-container .home-about-content {
	padding-top: 2em;
	margin-left: 5%;
	margin-right: 5%;
}

.home-container .home-about-content h1 {
	color: #CCCCCC;
	font-size: 2rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.home-container .keypoints-container {
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: center;
	justify-content: center;
	padding-top: 3rem;
	margin-right: 5rem;
}

.home-container .keypoints-container .keypoint-container {
	background-color: rgba(50, 50, 50, 1);
	height: 12rem;
	width: 24rem;
	border-radius: 8px;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-top: 5rem;
}

.home-container .keypoints-container .kp-padding {
	margin-left: 3rem;
}

.home-container .keypoints-container .kp-padding-two {
	margin-left: 3rem;
}

.home-container .keypoints-container .keypoint-container h3 {
	color: #FFFFFF;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.home-container .keypoints-container .keypoint-container i {
	color: #CCCCCC;
	font-size: 2.75rem;
}

.home-container .keypoints-container .keypoint-container p {
	color: #CCCCCC;
	font-size: 1.25rem;
}

.home-container .home-showcase {
	width: 100vw;
	min-height: 1rem;
	padding-bottom: 7rem;
	background-color: rgba(50, 50, 50, 1);
}

.home-container .home-showcase h1 {
	color: #CCCCCC;
	font-size: 2rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-top: 7rem;
}

.home-container .home-showcase p {
	text-align: center;
	font-weight: 200;
	padding-top: 3rem;
	font-size: 1.25rem;
}

.home-container .home-showcase p a {
	color: #CCCCCC;
	text-decoration: none;
	transition: all ease-in-out .2s;
}

.home-container .home-showcase p a:hover {
	color: #EEEEEE;
}

.home-container .showcase-container {
	margin-left: 5%;
	margin-right: 5%;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-ms-flex-pack: center;
	justify-content: center;
}

.home-container .showcase-container img {
	background-color: rgba(50, 50, 50, 1);
	width: 26rem;
	text-align: center;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-top: 3rem;
	border: .3rem solid #ff9900;
	-webkit-box-shadow: 5px 5px 10px 2.5px rgba(34, 34, 34, 0.5);
	box-shadow: 5px 5px 10px 2.5px rgba(34, 34, 34, 0.5);
}

.home-container .showcase-container img:hover {
	cursor: pointer;
}

.home-container .home-contact {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(35, 35, 35, 1);
	padding-bottom: 7rem;
}

.home-container .home-contact h1 {
	color: #CCCCCC;
	font-size: 2rem;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-top: 7rem;
}

.home-container .home-contact p {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 300;
	border: .15rem solid #ff9900;
	height: 3rem;
	width: 13rem;
	padding-top: 1rem;
	margin-top: 2rem;
	margin-left: calc(50vw - 13rem / 2);
	transition: all ease-in-out .2s;
}

.home-container .home-contact p:hover {
	background-color: rgba(255, 153, 0, .1);
	cursor: pointer;
}

.home-container .home-contact p a {
	color: #ff9900;
	text-decoration: none;
}

/* Footer */

footer {
	width: 100vw;
	min-height: 1rem;
	background-color: rgba(25, 25, 25, 1);
	padding-bottom: 3rem;
}

footer h1 {
	color: #CCCCCC;
	font-size: 1rem;
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding-top: 3rem;
	margin-left: 5rem;
}

footer .left {
	margin-left: 25rem;
	padding-top: 3rem;
	text-align: center;
}

footer .left .subheader {
	color: #FFFFFF;
	font-size: 1.5rem;
}

footer .left li {
	display: block;
	font-size: 1rem;
	padding-bottom: .5rem;
	padding-top: .25rem;
}

footer .left li a {
	color: #CCCCCC;
	text-decoration: none;
	border-bottom: .25rem dotted #CCCCCC;
}

footer .right {
	margin-left: calc(100vw - 25rem);
	margin-top: -8.5rem;
	text-align: center;
}

footer .right .subheader {
	color: #FFFFFF;
	font-size: 1.5rem;
}

footer .right li {
	display: block;
	font-size: 1rem;
	padding-bottom: .5rem;
	padding-top: .25rem;
}

footer .right li a {
	color: #CCCCCC;
	text-decoration: none;
	border-bottom: .25rem dotted #CCCCCC;
}

footer .footer-socials {
	text-align: left;
	margin-top: -7rem;
	margin-left: 5rem;
}

footer .footer-socials li {
	display: inline;
	font-size: 2rem;
	margin-left: .5rem;
	margin-right: .35rem;
	border-radius: 50%;
	border: .25rem solid #ff9900;
	padding-left: .8rem;
	padding-right: .8rem;
	padding-top: .55rem;
	padding-bottom: .55rem;
	transition: all ease-in-out .2s;
}

footer .footer-socials li a {
	color: #ff9900;
	transition: all ease-in-out .2s;
}

footer .footer-socials li:hover {
	background-color: #ff9900;
	color: #000000;
}

footer .footer-socials li:hover a {
	color: #000000;
}

footer .footer-socials li a:hover {
	color: #000000;
}

/* Other */

.showcase-popup {
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	display: none;
	left: 10vw;
	min-height: 1vh;
	position: fixed;
	top: calc(50vh - 36vh);
	width: 80vw;
	z-index: 9999;
}

.showcase-popup-background {
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 9998;
}

.showcase-popup-close {
	-o-transition: background-color ease 0.2s;
	-webkit-transition: background-color ease 0.2s;
	background-color: red;
	border-radius: 50%;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 2vh;
	height: 4vh;
	padding-top: 1vh;
	position: absolute;
	right: -1vw;
	text-align: center;
	top: -1vh;
	transition: background-color ease 0.2s;
	width: 5vh;
}

.showcase-popup-close:hover {
	-o-transition: background-color ease 0.2s;
	-webkit-transition: background-color ease 0.2s;
	background-color: #8B0000;
	cursor: pointer;
	transition: background-color ease 0.2s;
}

.showcase-popup-image {
	-o-object-fit: cover;
	background-size: cover;
	display: none;
	margin-bottom: 1vh;
	margin-left: 1vh;
	object-fit: cover;
	padding-top: 1vh;
	width: calc(100% - 2vh);
}

/* Mobile Support */

@media only screen and (max-width: 1100px) {
	.header h3 {
		font-size: 1.75rem;
		color: #CCCCCC;
		margin-left: calc(100vw - 5rem);
		margin-top: -3.25rem;
		border: .15rem solid #CCCCCC;
		width: 2.5rem;
		text-align: center;
		border-radius: 4px;
		display: block;
	}

	.header h3:hover {
		cursor: pointer;
	}

	.header img {
		height: 3.5rem;
		padding-top: .75rem;
		padding-left: calc(50vw - 3.5rem / 2);
	}

	.header h1 {
		display: none;
	}

	.header ul {
		display: none;
	}

	.header h2 {
		display: none;
	}

	.mobile-dropdown-toggle {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 5rem;
		z-index: 9999999999999999999999999;
	}

	.mobile-dropdown-toggle:hover {
		cursor: pointer;
	}

	.mobile-dropdown {
		width: 100vw;
		height: 26.5rem;
		background-color: white;
		position: fixed;
		top: 5rem;
		left: 0;
		border-bottom: .15rem solid grey;
		z-index: 999999999;
		overflow: hidden;
		display: none;
	}

	.mobile-dropdown ul {
		text-align: center;
		width: 100vw;
	}

	.mobile-dropdown a {
		color: #000000;
		text-decoration: none;
	}

	.mobile-dropdown li {
		font-size: 1.5rem;
		font-weight: 300;
		padding-top: 1rem;
		padding-bottom: 1rem;
		transition: all ease-in-out .2s;
	}

	.mobile-dropdown li:hover {
		background-color: rgba(230, 230, 230, 1);
	}

	.home-container .home-hero {
		background-color: #ff9900;
		min-height: 55rem;
		position: relative;
		z-index: 2;
		position: relative;
	}

	.home-container .home-hero .typeit-container {
		padding-left: 3rem;
		padding-top: 17rem;
	}

	.home-container .home-hero h1 {
		font-size: 8vw;
		color: #FFFFFF;
	}

	.home-container .home-hero img {
		height: 35vh;
		position: absolute;
		right: 15vw;
		top: 30rem;
	}

	.home-container .keypoints-container {
		-ms-flex-direction: column;
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}

	.home-container .keypoints-container .keypoint-container {
		background-color: rgba(50, 50, 50, 1);
		height: 12rem;
		width: 80vw;
		border-radius: 8px;
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 1rem;
		margin-top: 5rem;
	}

	.home-container .keypoints-container .kp-padding {
		margin-left: 0;
	}

	.home-container .keypoints-container .kp-padding-two {
		margin-left: 0;
	}

	.home-container .showcase-container img {
		background-color: rgba(50, 50, 50, 1);
		width: 80vw;
		text-align: center;
		margin-left: 0;
		margin-top: 3rem;
		border: .3rem solid #ff9900;
		-webkit-box-shadow: 5px 5px 10px 2.5px rgba(34, 34, 34, 0.5);
		box-shadow: 5px 5px 10px 2.5px rgba(34, 34, 34, 0.5);
		object-fit: cover;
		margin-right: 0;
		padding: 0;
	}

	.home-container svg {
		width: 101.5vw;
		margin-left: -1vw;
	}

	footer h1 {
		margin-left: 0;
		text-align: center;
	}

	footer .left {
		margin-left: 0;
	}

	footer .right {
		margin-left: 0;
		margin-top: 1rem;
	}

	footer .footer-socials {
		text-align: center;
		margin-top: 3rem;
		margin-left: 0;
	}

	footer .footer-socials li {
		display: inline;
		font-size: 2rem;
		margin-left: .5rem;
		margin-right: .35rem;
		border-radius: 50%;
		border: .25rem solid #ff9900;
		padding-left: .8rem;
		padding-right: .8rem;
		padding-top: .55rem;
		padding-bottom: .55rem;
		transition: all ease-in-out .2s;
	}

	footer .footer-socials li a {
		color: #ff9900;
		transition: all ease-in-out .2s;
	}

	footer .footer-socials li:hover {
		background-color: #ff9900;
		color: #000000;
	}

	footer .footer-socials li:hover a {
		color: #000000;
	}

	footer .footer-socials li a:hover {
		color: #000000;
	}
}

@media only screen and (max-width: 800px) {
	.home-container .home-hero {
		min-height: 50rem;
	}

	.home-container .home-hero .typeit-container {
		padding-left: 3rem;
		padding-top: 22rem;
	}
}
