* {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #F7F7FF;
	font-family: 'Lato', sans-serif;
	padding-bottom: 0.5vh;
	padding-top: 0.75vh;
	z-index: 6;
}

.header .active::after {
	background: #F26419;
	content: '';
	height: 0.225vh;
	margin: 0.75vh auto auto;
	transition: width 0.5s ease, background-color 0.5s ease;
	width: 75%;
}

.header a {
	color: #000000;
	padding: 0.75vh 5vw;
	text-decoration: none;
}

.header li {
	margin-bottom: 1.25vh;
	margin-top: 1.25vh;
	height: 5.25vh;
}

.header li::after {
	background: transparent;
	content: '';
	display: block;
	height: 0.225vh;
	margin: 0.75vh auto auto;
	transition: width 0.5s ease, background-color 0.5s ease;
	width: 0;
}

.header li:hover::after {
	background: #F26419;
	width: 75%;
}

.header ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	list-style: none;
	margin-left: 2vw;
	margin-right: 2vw;
}

.header img {
	position: absolute;
	height: 5vh;
	left: 2vw;
	display: none;
}

.header-title {
	position: absolute;
	height: 2vh;
	top: 1vh;
	left: calc(3vw + 5vh);
	font-size: 3.5vh;
	display: none;
	font-family: 'Lato', sans-serif;
}

.header-dropdown {
	display: none;
}

.hd-web-design {
	display: none;
}

.hd-sys-admin {
	display: none;
}

.fa-discord:hover {
	color: #7289DA;
}

.footer {
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
	height: 25vh;
	position: relative;
}

.footer .links {
	padding-bottom: 0.25vh;
	padding-top: 0.25vh;
}

.footer .social {
	text-align: center;
}

.company-header {
	padding-top: 2vh;
}

.copyright-text {
	position: absolute;
	left: calc(50vw - 8rem);
	bottom: 2vh;
}

.footer a {
	color: #000000;
	font-family: 'Lato', sans-serif;
	font-size: 0.85rem;
	text-decoration: none;
}

.footer h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin-bottom: 1vh;
}

.footer i {
	font-size: 1.4rem;
	padding: 2.5vh 3vw;
	transition: 0.3s ease-in-out;
}

.footer i:hover {
	transform: scale(1.2);
}

.footer span {
	transition: 0.4s ease-in-out;
}

.fa-github:hover {
	color: #6E5494;
}

.fa-linkedin:hover {
	color: #2867B2;
}

.footer p {
	font-family: 'Lato', sans-serif;
	font-size: 0.8rem;
	text-align: center;
}

.footer ul {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	list-style: none;
}

.footer ul a::after {
	background: transparent;
	content: '';
	display: block;
	height: 0.225vh;
	margin: 0 auto auto;
	transition: width 0.5s ease, background-color 0.5s ease;
	width: 0;
}

.footer ul a:hover::after {
	background: #F26419;
	width: 100%;
}

.social-media-container {
	position: absolute;
	top: 3vh;
	left: 15vw;
	display: none;
}

.social-media-icon {
	font-size: 6vh;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

.hero {
	background-image: url(../img/herobg.jpg);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 7.5vh;
	padding-top: 7.5vh;
	text-align: center;
}

.hero h1 {
	color: #F26419;
	font-family: 'Roboto', sans-serif;
	font-size: 2.5rem;
}

.hero i {
	color: #FFFFFF;
	font-size: 1.5rem;
	transition: 0.4s ease-in-out;
}

.hero i:hover {
	transform: translate(0, 0.75vh);
}

.hero p {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	margin-bottom: 5vh;
	margin-top: 5vh;
}

.hero a {
	cursor: pointer;
}

.features {
	align-content: center;
	align-items: center;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 4vh 7.5%;
	text-align: center;
}

.features .card {
	background: transparent;
	margin-bottom: 2.5vh;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 2.5vh 2.5%;
	width: 75%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.features h3 {
	font-family: 'Lato', sans-serif;
	color: #000000;
	font-weight: bold;
	margin-bottom: 1.25vh;
	margin-top: 2.5vh;
}

.features i {
	color: #4D4642;
	font-size: 2.75rem;
}

.features p {
	font-family: 'Lato', sans-serif;
	font-weight: light;
	color: #444444;
}

.showcase {
	background-color: #F3F5F9;
	padding-top: 2vh;
	padding-bottom: 2vh;
	text-align: center;
	overflow: hidden;
}

.showcase-item {
	margin-left: 1vw;
	margin-right: 1vw;
	background-color: #FFFFFF;
	height: auto;
	flex-grow: 1;
	cursor: pointer;
	width: 75%;
	margin-bottom: 1vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
	transition: 0.3s ease-in-out;
}

.showcase-item:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.showcase-popup {
	position: fixed;
	top: calc(50vh - 40vh);
	left: 10vw;
	width: 80vw;
	height: 81vh;
	min-height: 1vh;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	z-index: 3;
	display: none;
}

.showcase-popup-close {
	position: absolute;
	right: -1vw;
	top: -1vh;
	font-size: 2vh;
	color: white;
	font-family: 'Lato', sans-serif;
	background-color: red;
	width: 5vh;
	height: 4vh;
	border-radius: 50%;
	text-align: center;
	padding-top: 1vh;
	transition: background-color ease 0.2s;
}

.showcase-popup-close:hover {
	background-color: darkred;
	transition: background-color ease 0.2s;
	cursor: pointer;
}

.showcase-popup-image {
	margin-left: 1vh;
	padding-top: 1vh;
	width: calc(100% - 2vh);
	margin-bottom: 1vh;
	display: none;
	height: 79vh;
	background-size: cover;
	object-fit: cover;
}

.showcase-popup-background {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 2;
	display: none;
}

.showcase .container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-bottom: 2vh;
	max-width: 100vw;
}

.showcase h2 {
	font-family: 'Lato', sans-serif;
	font-weight: black;
	font-variant: small-caps;
	font-size: 1.75rem;
	margin-bottom: 2vh;
}

.showcase h3 {
	font-family: 'Lato', sans-serif;
}

.showcase i {
	font-size: 3rem;
}

.home-project-list {
	font-family: 'Lato', sans-serif;
	font-weight: regular;
	font-variant: small-caps;
	font-size: 1.2rem;
	margin-top: 2vh;
	margin-bottom: 0.5vh;
}

.home-project-link {
	color: #444444;
	text-decoration: none;
	padding: 1vh 1vw;
	transition: 0.4s ease-in-out;
}

.home-project-link:hover {
	color: #000000;
	background-color: #FFFFFF;
}

.quote {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/quotebg.jpg);
	background-position: 50% 62.5%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 5vh;
	padding-top: 5vh;
	text-align: center;
}

.quote button {
	background: transparent;
	border: solid 1px #F26419;
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	padding: 2.5vh 5%;
	transition: 0.25s ease-in-out;
}

.quote button:hover {
	background: #F26419;
	cursor: pointer;
}

.smallhero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/aboutbg.jpg);
	background-position: 50% 90%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 4vh;
	padding-top: 4vh;
	text-align: center;
}

.smallhero h1 {
	color: #F26419;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2vh;
}

.smallhero h2 {
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
}

.about {
	background-color: #F7F7FF;
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	padding-bottom: 4vh;
	padding-left: 8vw;
	padding-right: 8vw;
	padding-top: 4vh;
	text-align: center;
	min-height: calc(100vh - 46vh);
}

.about-nav-container {
	width: 80vw;
	height: 15vh;
}

.about-nav-button {
	width: 100%;
	background-color: rgba(235, 235, 235, 1);
	font-size: 2vh;
	padding-top: 1vh;
	padding-bottom: 1vh;
	transition: background-color ease 0.2s;
}

.about-nav-button:hover {
	background-color: rgba(225, 225, 225, 1);
	transition: background-color ease 0.2s;
}

.about-nav-link {
	color: black;
	text-decoration: none;
}

.about-text-block {
	text-align: left;
	position: relative;
	width: 80vw;
	margin-bottom: 2vh;
}

.about-nav-active {
	background-color: #F26419;
}

.about-nav-active:hover {
	background-color: #F26419;
}

.history-container {
	min-height: 83vh;
	width: 100vw;
}

.history-header {
	font-size: 3vh;
	margin: 0;
	margin-top: 10vh;
	padding-left: 10%;
}

.small {
	overflow: hidden;
}

.section-title {
	text-align: center;
	color: white;
}

.section-description {
	text-align: center;
	color: grey;
	margin-left: 10%;
	margin-right: 10%;
}

.history-card:nth-child(1) {
	order: 1;
}

.history-card:nth-child(2) {
	order: 4;
}

.history-card:nth-child(3) {
	order: 2;
}

.history-card:nth-child(4) {
	order: 5;
}

.history-card:nth-child(5) {
	order: 3;
}

.history-card:nth-child(6) {
	order: 6;
}

.history-card:nth-child(7) {
	order: 7;
}

.history-card:nth-child(8) {
	order: 8;
}

.history-card {
	overflow: hidden;
}

.notfound {
	text-align: center;
	background-color: #F7F7FF;
	padding-bottom: 2vh;
}

.notfound img {
	width: 65%;
	height: auto;
}

.notfound .notfound-heading {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	margin-bottom: 2vh;
}

.notfound .notfound-description {
	font-family: 'Lato', sans-serif;
	font-weight: regular;
	color: #222222;
	padding-left: 10vw;
	padding-right: 10vw;
	line-height: 150%;
}

.notfound .notfound-description a {
	font-family: 'Lato', sans-serif;
	font-weight: regular;
	text-decoration: none;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	color: #F26419;
}

@media (min-width: 1000px) {
	#timeline .history-card:nth-child(odd) .head::after,
	#timeline .history-card:nth-child(even) .head::after {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-top: 15px solid transparent;
		border-bottom: 15px solid transparent;
		overflow: hidden;
		z-index: 3;
	}

	#timeline .history-card:nth-child(odd) .head::before,
	#timeline .history-card:nth-child(even) .head::before {
		position: absolute;
		content: "";
		width: 9px;
		height: 9px;
		overflow: hidden;
		z-index: 3;
	}
}

#timeline p.leader {
	text-align: center;
	max-width: 100%;
	margin: auto;
	margin-bottom: 45px;
}

#timeline .history-card-wrapper {
	position: relative;
	margin: auto;
}

@media (min-width: 1600px) {
	#timeline .history-card-wrapper {
		display: flex;
		flex-flow: column wrap;
		width: calc(80vw - 300px - 2vw);
		height: 1050px;
		margin: 0 auto;
		z-index: 3;
	}
}

#timeline .history-card-wrapper::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1600px) {
	#timeline .history-card-wrapper::after {
		border-left: 1px solid #BDBDBD;
	}
}

#timeline .history-card {
	position: relative;
	display: block;
	margin: 10px auto 80px;
	max-width: 94%;
	overflow: hidden;
	z-index: 3;
}

@media (min-width: 650px) {
	#timeline .history-card {
		max-width: 100%;
		box-shadow: 0 1px 22px 4px rgba(0, 0, 0, 0.07);
		overflow: hidden;
	}
}

@media (min-width: 1600px) {
	#timeline .history-card {
		max-width: 40%;
		height: 400px;
		margin-left: calc(50% - 40% - 25px);
		margin-top: 45px;
		margin-bottom: 45px;
		overflow: hidden;
	}

	#timeline .history-card:nth-child(odd) {
		margin-right: 45px;
	}

	#timeline .history-card:nth-child(odd) .head::after {
		border-left-width: 15px;
		border-left-style: solid;
		left: 100%;
	}

	#timeline .history-card:nth-child(odd) .head::before {
		left: 491.5px;
	}

	#timeline .history-card:nth-child(even) {
		margin-left: calc(-5vw + 10px);
	}

	#timeline .history-card:nth-child(even) .head::after {
		border-right-width: 15px;
		border-right-style: solid;
		right: 100%;
	}

	#timeline .history-card:nth-child(even) .head::before {
		right: 489.5px;
	}

	#timeline .history-card:nth-child(2) {
		margin-top: 180px;
	}
}

#timeline .history-card .head {
	position: relative;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	font-weight: 400;
	overflow: hidden;
}

#timeline .history-card .head .number-box {
	display: inline;
	float: left;
	margin: 15px;
	margin-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px;
	line-height: 35px;
	font-weight: 600;
	background: rgba(0, 0, 0, 0.17);
	overflow: hidden;
	width: 125px;
	text-align: center;
}

#timeline .history-card .head h2 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: inherit;
	letter-spacing: 2px;
	margin: 0;
	padding-bottom: 6px;
	line-height: 1rem;
	overflow: hidden;
}

@media (min-width: 650px) {
	#timeline .history-card .head h2 {
		font-size: 165%;
		line-height: 1.2rem;
	}
}

#timeline .history-card .head h2 span {
	display: block;
	font-size: 1.2rem;
	margin-bottom: 6px;
	color: #FFFFFF;
}

@media (min-width: 650px) {
	#timeline .history-card .head h2 span {
		font-size: 1.2rem;
	}
}

#timeline .history-card .body {
	background: #FFFFFF;
	border: 1px solid rgba(191, 191, 191, 0.4);
	border-top: 0;
	padding: 15px;
}

@media (min-width: 1000px) {
	#timeline .history-card .body {
		height: 315px;
	}
}

#timeline .history-card .body p {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 15px;
	color: black;
}

#timeline .history-card .body img {
	display: block;
	width: 100%;
}

#timeline .history-card-tier-1 {
	background-color: #673AB7;
}

#timeline .history-card-tier-1 .head::after {
	border-color: #673AB7;
}

#timeline .history-card-tier-2 {
	background-color: #2196F3;
}

#timeline .history-card-tier-2 .head::after {
	border-color: #2196F3;
}

#timeline .history-card-tier-3 {
	background-color: #E91E63;
}

#timeline .history-card-tier-3 .head::after {
	border-color: #E91E63;
}

#timeline .history-card-tier-4 {
	background-color: #FF9800;
}

#timeline .history-card-tier-4 .head::after {
	border-color: #FF9800;
}

#timeline .history-card-tier-5 {
	background-color: #673AB7;
}

#timeline .history-card-tier-5 .head::after {
	border-color: #673AB7;
}

#timeline .history-card-tier-6 {
	background-color: limegreen;
}

#timeline .history-card-tier-6 .head::after {
	border-color: limegreen;
}

#time_divider {
	color: white;
	border: 0.5px solid white;
	margin-left: 5%;
	margin-right: 5%;
}

#circle_one {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 950px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#circle_two {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 815px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#circle_three {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 460px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#circle_four {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 925px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#circle_five {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 575px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#circle_six {
	height: 25px;
	width: 25px;
	background-color: lightgrey;
	border: 0.2vh solid grey;
	border-radius: 50%;
	position: absolute;
	bottom: 435px;
	margin-left: calc(50% - 12.5px);
	z-index: 2;
	display: none;
}

#triangle_one {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 925px;
	margin-left: calc(50% - 50.5px);
	z-index: 2;
	color: #673AB7;
	display: none;
}

#triangle_two {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 794px;
	margin-left: calc(50% + 14.5px);
	z-index: 2;
	color: #2196F3;
	display: none;
}

#triangle_three {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 435px;
	margin-left: calc(50% - 50.5px);
	z-index: 2;
	color: #E91E63;
	display: none;
}

#triangle_four {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 912px;
	margin-left: calc(50% + 14.5px);
	z-index: 2;
	color: #FF9800;
	display: none;
}

#triangle_five {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 560px;
	margin-left: calc(50% - 50.5px);
	z-index: 2;
	color: #673AB7;
	display: none;
}

#triangle_six {
	font-size: 100px;
	overflow: hidden;
	height: 100px;
	width: 100px;
	position: absolute;
	bottom: 422px;
	margin-left: calc(50% + 14.5px);
	z-index: 2;
	color: limegreen;
	display: none;
}

@media only screen and (min-width: 1600px) {
	#triangle_one {
		display: block;
	}

	#triangle_two {
		display: block;
	}

	#triangle_three {
		display: block;
	}

	#circle_one {
		display: block;
	}

	#circle_two {
		display: block;
	}

	#circle_three {
		display: block;
	}
}

.team-header {
	text-align: center;
	color: grey;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 2vh;
}

.company-director {
	margin-left: 10vw;
	background-color: rgba(230, 230, 230, 1);
	height: 30vh;
	width: 30vh;
	border-radius: 1vh;
	margin-top: calc(35vh - 30vh);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.operations-director {
	margin-left: 10vw;
	background-color: rgba(230, 230, 230, 1);
	height: 30vh;
	width: 30vh;
	border-radius: 1vh;
	margin-top: 5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company-coder {
	margin-left: 10vw;
	background-color: rgba(230, 230, 230, 1);
	height: 30vh;
	width: 30vh;
	border-radius: 1vh;
	margin-top: 5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.company-gfx {
	margin-left: 10vw;
	background-color: rgba(230, 230, 230, 1);
	height: 30vh;
	width: 30vh;
	border-radius: 1vh;
	margin-top: 5vh;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.employee-image {
	font-size: 10vh;
	text-align: center;
	padding-top: 3vh;
	margin: 0;
}

.employee-name {
	font-size: 3vh;
	text-align: center;
	margin: 0;
}

.employee-desc {
	font-size: 2vh;
	text-align: center;
	margin: 0;
}

.employee-contact {
	font-size: 3vh;
	text-align: center;
	padding-top: 1vh;
	margin: 0;
}

.link {
	color: black;
	text-decoration: none;
}

.link:hover {
	color: black;
	text-decoration: none;
}

@media only screen and (min-width: 1000px) {
	.header {
		box-shadow: 0 5px 18px 5px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0 5px 18px 5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0 5px 18px 5px rgba(0, 0, 0, 0.5);
		position: fixed;
		right: 0;
		width: 100%;
		height: 5vh;
		overflow: hidden;
	}

	.header a {
		padding-left: 1.25vw;
		padding-right: 1.25vw;
	}

	.header ul {
		flex-direction: row;
		justify-content: flex-end;
	}

	.header img {
		display: block;
	}

	.header-dropdown {
		height: 8.5vh;
		width: 200px;
		background-color: white;
		z-index: 2;
		position: fixed;
		top: 6.25vh;
		right: 2vw;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: none;
		border-radius: 4px;
		overflow: hidden;
	}

	.header-dropdown-button:hover {
		cursor: pointer;
	}

	.header-dropdown-button:hover + .header-dropdown {
		display: block;
	}

	.header-dropdown:hover {
		display: block;
	}

	.hd-web-design {
		display: block;
		width: 100%;
		color: #000000;
		font-size: 2vh;
		text-align: center;
		padding-top: 1vh;
		padding-bottom: 1vh;
		transition: background-color ease 0.2s;
	}

	.hd-web-design:hover {
		cursor: pointer;
		background-color: rgba(235, 235, 235, 1);
		transition: background-color ease 0.2s;
	}

	.hd-sys-admin {
		display: block;
		width: 100%;
		color: #000000;
		font-size: 2vh;
		text-align: center;
		padding-top: 1vh;
		padding-bottom: 1vh;
		transition: background-color ease 0.2s;
	}

	.hd-sys-admin:hover {
		cursor: pointer;
		background-color: rgba(235, 235, 235, 1);
		transition: background-color ease 0.2s;
	}

	.footer {
		max-height: 10vh;
	}

	.services-header {
		position: absolute;
		right: calc(50vw - 15vw);
	}

	.company-header {
		position: absolute;
		right: 15vw;
		padding-top: 0;
	}

	.copyright-text {
		position: absolute;
		left: 15vw;
		bottom: 2vh;
	}

	.header-title {
		display: block;
	}

	.footer .links {
		flex-direction: row;
	}

	.footer ul a:hover::after {
		width: 50%;
	}

	.social-media-container {
		display: block;
	}

	.hero {
		padding-top: 13vh;
	}

	.showcase .card {
		margin-bottom: 0;
		width: 20%;
	}

	.showcase-item {
		width: 20vw;
	}

	.showcase .container {
		flex-direction: row;
		align-content: flex-start;
		align-items: flex-start;
	}

	.features {
		flex-direction: row;
	}

	.features .card {
		margin-bottom: 0;
		width: 22.5%;
	}

	.smallhero {
		padding-top: 10vh;
	}

	.about-nav-container {
		width: 300px;
		height: 25vh;
	}

	.about-text-block {
		text-align: left;
		position: relative;
		top: -25vh;
		left: calc(300px + 2vw);
		width: calc(80vw - 300px - 2vw);
		margin-bottom: 2vh;
	}

	.company-director {
		margin-left: calc(50% - 33vh);
		background-color: rgba(230, 230, 230, 1);
		height: 30vh;
		width: 30vh;
		border-radius: 1vh;
		margin-top: calc(35vh - 30vh);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.operations-director {
		margin-left: calc(50% + 2vh);
		background-color: rgba(230, 230, 230, 1);
		height: 30vh;
		width: 30vh;
		border-radius: 1vh;
		margin-top: -30vh;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.company-coder {
		margin-left: calc(50% - 32vh);
		background-color: rgba(230, 230, 230, 1);
		height: 30vh;
		width: 30vh;
		border-radius: 1vh;
		margin-top: 5vh;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.company-gfx {
		margin-left: calc(50% + 3vh);
		background-color: rgba(230, 230, 230, 1);
		height: 30vh;
		width: 30vh;
		border-radius: 1vh;
		margin-top: -30vh;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.notfound {
		padding-top: 10vh;
		padding-bottom: 6vh;
	}

	.notfound img {
		width: 25%;
	}

	.notfound .notfound-heading {
		font-size: 1.4rem;
	}

	.notfound .notfound-description {
		font-size: 1.4rem;
	}
}
